<template name='Diagnosis_Add'>
  <H1>Add a diagnosis</H1>
  <form id='update_diagnosis_form'>
    <input type='text' name='diagnosis_name'>
    <input type='date' name='diagnosis_start_date'>
    <input type='date' name='diagnosis_end_date' id='diagnosis_end_date' class={{visible}}>
    <label><input type='checkbox' id='active_problem' name='active_problem' checked='true'>ACTIVE</label>
    <input type='submit' name='update_medicine' value='Add Diagnosis'>
  </form>
  <button class='information_button'><i class="fa fa-info-circle" aria-hidden="true"></i></button>
  <button class='return_button'>Return</button>
</template>
