<template name='Key_Contact_Add'>
  <H1>Add New Key Contact</H1>
  <form id='update_key_contact_form'>
    <input type='text' name='key_contact_name'>
    <input type='text' name='key_contact_job'>
    <input type='text' name='key_contact_address'>
    <input type='text' name='key_contact_office'>
    <input type='text' name='key_contact_mobile'>
    <input type='text' name='key_contact_email'>
    <input type='submit' name='update_key_contact' value='Update Key Contact'>
  </form>
  <button class='information_button'><i class="fa fa-info-circle" aria-hidden="true"></i></button>
  <button class='return_button'>Return</button>
</template>
