<template name='Problem_Item'>
  <H1>Edit a Problem</H1>
  <form id='update_problem_form'>
    <input type='text' value={{problem_name}} name='problem_name' placeholder="Problem">
    <input type='date' value={{problem_start_date}} name='problem_start_date' placeholder="Start Date">
    <input type='date' value={{problem_end_date}} name='problem_end_date' class={{visible}} placeholder="End Date">
    <label><input type='checkbox' id='active_problem' name='active_problem' checked='true'>ACTIVE</label>
    <input type='submit' value='Update Problem' name='update_problem'>
  </form>
  <button class='information_button'><i class="fa fa-info-circle" aria-hidden="true"></i></button>
  <button class='return_button'>Return</button>
</template>
